DATABASE_URL="mysql://root:password@localhost:3306/clinique"
UPLOAD_DIR="./uploads"
npm run prisma:migrate


################################# IN PRODUCTION ##############################
# DATABASE_URL="mysql://HOSTINGER_USER:PASSWORD@localhost/HOSTINGER_DATABASE"
# UPLOAD_DIR="/home/username/uploads"
##############################################################################